language: python
cache: pip
dist: xenial
services:
  - postgresql

install:
  - pip install coverage tox tox-venv tox-travis flake8 psycopg2

before_script:
  - psql template1 -c 'create extension hstore;'

script:
  - coverage erase
  - tox
  - flake8 django_admin_hstore_widget/

after_success:
  - coverage combine --append
  - coverage report -m

matrix:
  fast_finish: true
  include:
    # PYTHON 3.8
    - { python: "3.8", env: DJANGO=3.0 }
    # PYTHON 3.7
    - { python: "3.7", env: DJANGO=3.0 }
    - { python: "3.7", env: DJANGO=2.2 }
    - { python: "3.7", env: DJANGO=2.1 }
    - { python: "3.7", env: DJANGO=2.0 }
    - { python: "3.7", env: DJANGO=1.11 }
    # PYTHON 3.6
    - { python: "3.6", env: DJANGO=3.0 }
    - { python: "3.6", env: DJANGO=2.2 }
    - { python: "3.6", env: DJANGO=2.1 }
    - { python: "3.6", env: DJANGO=2.0 }
    - { python: "3.6", env: DJANGO=1.11 }
    # PYTHON 3.5
    - { python: "3.5", env: DJANGO=2.2 }
    - { python: "3.5", env: DJANGO=2.1 }
    - { python: "3.5", env: DJANGO=2.0 }
    - { python: "3.5", env: DJANGO=1.11 }
    # PYTHON 3.4
    - { python: "3.4", env: DJANGO=2.0 }
    - { python: "3.4", env: DJANGO=1.11 }
    # PYTHON 2.7
    - { python: "2.7", env: DJANGO=1.11 }
